.InfoWindow{
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 122.222% */
text-align: start;
}
.star{
    color: red;
}
.radio{
    width: 30px;
height: 30px;
flex-shrink: 0;
border-radius: 25px;
}

.IamForm{
    display: flex;
    gap: 100px;
}
.radiobox{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.radioLablel{
    font-family: 200 !important;
}
#name{
    border-radius: 2px;
border: 1px solid #7A7A7A;
background: var(--Neutral-1, #FFF);
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) inset;
width: 380px;
height: 40px;
padding-left: 8px;
}

#phonecode{
    border-radius: 2px;
border: 1px solid #7A7A7A;
background: #F6F8FF;
height: 40px;
width: 40px;
padding: 0 12px;
color: #122B49;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.5px;

}

#phone{
    height: 40px;
    padding:0 12px;
    width: 290px;
}
label{
    color: var(--character-title-85, rgba(0, 0, 0, 0.85));
font-family: Inter;
font-size: 18px !important;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 137.5% */
}