.PropertyLocation{
    height: 800px;
    width: 846px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    text-align: start;
}

.mapbox{
    height: 380px;
    width: 820px;
    background-image: url("../../assets/Map.png");
    padding: 0.1px;
}

.inputBox{
    display: flex;
width: 737px;
margin : 40px;
align-items: center;
gap: 4px;
flex-shrink: 0;
border-radius: 2px;
border: 1px solid var(--Neutral-5, #D9D9D9);
background: var(--Neutral-1, #FFF);
}

.inputBox input{
    display: flex;
padding: 10px 12px;
align-items: center;
gap: 8px;
flex: 1 0 0;
border: none;

/* Body/regular */
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 157.143% */
}

.pointerContainer{
    text-align: center;
}

